#imagen-dado.rodando {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

#zona-dado {
    background-image: url('../imagenes/pantallaJuego/medieval-tavern-wood-stockcake.jpg');
    background-position: center;
    background-repeat: no-repeat;  
}